Repository ISPP-2023-NGO-P3/backend-aiding, pull requests merged in 2023-04, with the labels that each got.

#64 feature-issue#62:cálculo de total de donación por año
  aiding/partners/admin.py
  aiding/partners/models.py
  aiding/partners/views.py
Labels: m-partners

#66 feature #60: Added not repeated validation and new gets
  aiding/volunteers/models.py
  aiding/volunteers/urls.py
  aiding/volunteers/views.py
Labels: m-volunteer

#67 Feature issue#57
  aiding/aiding/settings.py
  aiding/aiding/urls.py
  aiding/stock/__init__.py
  aiding/stock/admin.py
  aiding/stock/apps.py
  aiding/stock/migrations/__init__.py
  aiding/stock/models.py
  aiding/stock/tests.py
  aiding/stock/urls.py
  aiding/stock/views.py
Labels: m-stock

#69 Feature issue#26
  aiding/base/models.py
  aiding/base/urls.py
  aiding/base/views.py
  aiding/volunteers/views.py
Labels: m-base

#68 Feature issue#3
  aiding/partners/admin.py
  aiding/partners/validators.py
  aiding/partners/views.py
Labels: m-partners

#70 Feature issue#63
  aiding/information/views.py
Labels: m-information

#74 Feature issue#6
  aiding/partners/models.py
  aiding/partners/views.py
Labels: m-partners

#72 Feature issue#59
  aiding/aiding/settings.py
  aiding/base/admin.py
  aiding/base/models.py
  aiding/base/urls.py
  aiding/base/views.py
  requirements.txt
Labels: m-base

#73 fix #2: fixed some user issues
  aiding/base/views.py
Labels: bug

#76 Feature #60: Turnos y voluntarios
  aiding/volunteers/models.py
  aiding/volunteers/urls.py
  aiding/volunteers/views.py
Labels: m-volunteer

#80 feature #61: Booking event done.
  aiding/events/admin.py
  aiding/events/models.py
  aiding/events/urls.py
  aiding/events/views.py
Labels: m-event

#77 Feature issue#9
  aiding/partners/urls.py
  aiding/partners/views.py
Labels: m-partners

#78 feature #58: Notification to volunteer when it is assigned to a turn
  aiding/volunteers/views.py
Labels: m-volunteer

#86 Feature issue#64
  aiding/base/views.py
  aiding/volunteers/admin.py
  aiding/volunteers/models.py
  aiding/volunteers/tests.py
  aiding/volunteers/views.py
Labels: bug
