Repository ISPP-2023-NGO-P3/backend-aiding, pull requests merged in 2023-03, with the labels that each got.

#20 Feature issue#9
  .gitignore
  README.md
  aiding/aiding/settings.py
  aiding/aiding/urls.py
  aiding/information/admin.py
  aiding/information/models.py
  aiding/information/urls.py
  aiding/information/validators.py
  aiding/information/views.py
  requirements.txt
Labels: m-information

#22 Feature issue#4
  aiding/aiding/settings.py
  aiding/partners/admin.py
  aiding/partners/models.py
  aiding/partners/urls.py
  aiding/partners/validators.py
  aiding/partners/views.py
  requirements.txt
Labels: m-information

#16 Feature issue#5
  aiding/partners/admin.py
  aiding/partners/models.py
  aiding/partners/views.py
Labels: m-partners

#32 Module/information
  .gitignore
  README.md
  aiding/aiding/settings.py
  aiding/aiding/urls.py
  aiding/information/__init__.py
  aiding/information/admin.py
  aiding/information/apps.py
  aiding/information/migrations/__init__.py
  aiding/information/models.py
  aiding/information/tests.py
  aiding/information/urls.py
  aiding/information/validators.py
  aiding/information/views.py
  requirements.txt
Labels: m-information

#38 Feature issue#9
  aiding/information/models.py
  aiding/information/validators.py
  aiding/information/views.py
Labels: m-information

#41 feature #25: Created volunteer model
  aiding/aiding/settings.py
  aiding/aiding/urls.py
  aiding/volunteers/__init__.py
  aiding/volunteers/admin.py
  aiding/volunteers/apps.py
  aiding/volunteers/migrations/__init__.py
  aiding/volunteers/models.py
  aiding/volunteers/tests.py
  aiding/volunteers/urls.py
  aiding/volunteers/validators.py
  aiding/volunteers/views.py
Labels: m-volunteer

#49 fix#3: No file and incorrect file exceptions fixed
  aiding/partners/views.py
Labels: bug

#48 fix #10: solving geolocator timeout
  aiding/information/models.py
  aiding/information/views.py
Labels: bug

#52 Feature issue#47
  aiding/volunteers/admin.py
  aiding/volunteers/models.py
  aiding/volunteers/urls.py
  aiding/volunteers/validators.py
  aiding/volunteers/views.py
Labels: m-volunteer

#51 feature #25: Added new situations and fixed validation
  aiding/volunteers/models.py
  aiding/volunteers/validators.py
  aiding/volunteers/views.py
Labels: m-volunteer

#53 Feature issue#1
  aiding/aiding/settings.py
  aiding/aiding/urls.py
  aiding/base/views.py
  aiding/information/views.py
  aiding/partners/views.py
  aiding/volunteers/views.py
  requirements.txt
Labels: m-base

#50 Eventos: CRUD, listar futuros y empezados
  .gitignore
  aiding/aiding/settings.py
  aiding/aiding/urls.py
  aiding/events/__init__.py
  aiding/events/admin.py
  aiding/events/apps.py
  aiding/events/migrations/__init__.py
  aiding/events/models.py
  aiding/events/tests.py
  aiding/events/urls.py
  aiding/events/validators.py
  aiding/events/views.py
  aiding/information/admin.py
Labels: m-event

#55 fix #47: added admin permission line
  aiding/volunteers/views.py
Labels: m-volunteer

#54 feature #2: added is_admin in post and put
  aiding/base/views.py
Labels: m-base
